{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Django Calculator</title>
</head>

<body class="bg-light">
    <h1>Django Calculator</h1>

    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#">Django Calculator</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#instructions">Instructions</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" style="margin: 0 auto;">
                {% if error %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Error</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}

                {% if result %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ ans}}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endif %}
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-6" style="margin: 1rem auto 0 auto;">
                <img class="img-fluid" src="{% static 'Calimg.jpg' %}" alt="Img">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'submitquery' %}" method="get">
                            <div class="form-group">

                                <input type="search" class="form-control" name="query" id="query">

                                <div class="row">

                                    <div class="col-6">
                                        <button type="submit" class="btn btn-success"
                                            style="display: block; margin: 0 auto;">Submit</button>

                                    </div>
                                    <div class="col-6">

                                        <button type="reset" class="btn btn-danger"
                                            style="display: block; margin: 0 auto;">Reset</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="margin: 2rem auto 0 auto ;">
                <h1 class="display-4" id="about" name="about">
                    About
                </h1>
                <hr>
                <p class="lead">
                    Our Calculator app can perform Mathematical operations
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6" style="margin: 2rem auto 0 auto ;">
                <h1 class="display-4" id="instructions" name="instructions">
                    Instructions
                </h1>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item active" aria-current="true">An active item</li>
                    <li class="list-group-item">+ Addition</li>
                    <li class="list-group-item">* Multiplication</li>
                    <li class="list-group-item">- Subtraction</li>
                    <li class="list-group-item">/ Division</li>
                    <li class="list-group-item">// Floor Division</li>
                    <li class="list-group-item">( ) Paranthesis</li>
                    <li class="list-group-item">** Exponential</li>
                    <li class="list-group-item">% Modulus</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="margin: 20rem;">
        <div class="row">
            <div class="col-md-6">

                <footer class="fixed-bottom" style="background-color: black;color: white; text-align: center;">
                    Thanks for Using
                </footer>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>